*{
    margin: 0px;
    padding: 0px;
}
/* this is header section styles */
.menu-container{
    background-color: rgb(57, 54, 54);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-pic{
    width: 120px;
}
.menus{
    display: flex;
   
}
.menu{
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    
}
.menu:hover{
    color: cadetblue;
}
/* this is main section styles */
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    /* border: 2px gray solid; */
    background-image: url("./images/background.png"),linear-gradient(45deg,#090909,#242323);
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
}
.banner-description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
.about{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}
.about-img{
    width: 280px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    margin-bottom: 5px;
}
.icon{
    width: 100px;
    margin-bottom: 10px;
}
.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px grey;
    background-color: black;
    color: white;
    padding: 20px;

}
.service{
    text-align: center;
    font-size: 50px;
    margin: 25px;
}
.btn-box{
    margin-top: 8px;
    background-color: grey;
    padding: 10px 20px;
    color: white;
    border: none;
}
.box-container{
    display: flex;
    justify-content: space-around;
    
}
.services-boxs{
    background-color: rgb(37, 37, 37);
    height: 550px;
    color: white;
    padding: 10px;

}
/* this is footer section */
.extra-img{
    width: 120px;
    
}
.How-to-reach-us-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: white;
    height: 200px;
    background-color:black;
}
